body {
    background: url('../images/wood_texture.jpg');
    min-width: 500px;
    padding: 0;
    font-size: 100%;
}

/*tr:nth-child(even) {background:#FFF }*/
tr {background: transparent}
thead tr th { background-color: rgba(171, 249, 140, 0.35)}

table {
    margin: 0 auto;
}

table,td,th{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

#purchasetext{
    padding: 0px;
}